html {
  overflow-y: scroll; }

body {
  background-color: #FFF;
  font-family: 'Roboto', sans-serif; }

.preload * {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.navbar-nav > li > a.dropdown-gravatar {
  padding-top: 10px;
  padding-bottom: 10px; }

#content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto; }

#page-wrapper.active #sidebar-wrapper {
  left: 150px; }

#page-wrapper {
  padding-left: 70px;
  height: 100%; }

#sidebar-wrapper {
  margin-left: -150px;
  left: -30px;
  width: 250px;
  position: fixed;
  height: 100%;
  z-index: 999; }

#page-wrapper, #sidebar-wrapper {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

#sidebar-wrapper {
  background-color: #333; }

ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto; }
  ul.sidebar li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 250px; }
  ul.sidebar li.sidebar-head {
    font-size: 20px;
    text-indent: 25px;
    line-height: 40px;
    font-weight: lighter; }
  ul.sidebar li.sidebar-list {
    font-size: 16px;
    text-indent: 25px;
    line-height: 40px;
    font-weight: lighter; }
    ul.sidebar li.sidebar-list a:hover {
      border-left: 3px solid #FFF;
      text-indent: 22px; }

.btn-facebook {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7787a7; }
  .btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus, .btn-facebook.disabled, .btn-facebook[disabled] {
    color: #FFF;
    background-color: #586B93; }

.seperator {
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  text-align: center;
  color: #666; }
  .seperator:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 43%;
    border-bottom: 2px solid #cccccc; }
  .seperator:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 43%;
    border-bottom: 1px solid #cccccc; }

@media only screen and (min-width: 561px) {
  #page-wrapper.active {
    padding-left: 250px; } }

@media only screen and (max-width: 560px) {
  #page-wrapper.active {
    padding-left: 70px; } }
